body {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

#q {
  grid-area: q;
}

#w {
  grid-area: w;
}

#e {
  grid-area: e;
}

#a {
  grid-area: a;
}

#s {
  grid-area: s;
}

#d {
  grid-area: d;
}

#z {
  grid-area: z;
}

#x {
  grid-area: x;
}

#c {
  grid-area: c;
}

#desc {
  text-align: center;
  width: 150px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  grid-template-areas: 
    "q w e"
    "a s d"
    "z x c"
  ;
  margin-top: 40vh;
  justify-content: center;
}
